/*
Theme Name: Shoptimizer Child Theme
Theme URI: 
Description: Child theme of Shoptimizer
Author: CommerceGurus
Author URI: 
Template: shoptimizer
Version: 1.2.1
License:         	GNU General Public License v2 or later
License URI:     	http://www.gnu.org/licenses/gpl-2.0.html
*/

.owl-item > div:first-child > p:first-child {
    text-align:center;
}
.owl-item > div:first-child > p:first-child > img:first-child {
    border-radius:50%;
}

.elementor-section-wrap .elementor-container .elementor-column .wp-caption > a:first-child:before {
    background:none;
}
.elementor-section-wrap .elementor-container .elementor-column .wp-caption > a:first-child {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.price bdi {
    font-weight:bold;
    font-size:1.2rem;
}
.button-variable-wrapper {
    font-weight:bold;
}

.single_variation_wrap .woocommerce-variation-price bdi {
    font-size:1.5rem;
}
#instagramBox {
    position:relative;
}
#instagramBox > div > div {
    transition:0.4s ease all;
    width:33% !important;
    opacity:0.8;
}
#instagramBox > div > div:hover {
    opacity:1;
}
#instagramOverlayBox {
    position: absolute;
    opacity: 1 !important;
    background: white;
    display: flex;
    top: 45%;
    left: 50%;
    transform:translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    width: 200px!important;
    padding: 1rem 4rem;
}
.site-footer {
    border-top:3px solid #65657c;
}
.site-footer .a2a_kit.a2a_kit_size_32.addtoany_list {
    display:flex;
    flex-direction:column
}

.single .addtoany_shortcode {
    margin-top:5rem;
}

footer.copyright > div > div:last-child > div > p {
    display:flex;
    flex-wrap:wrap;
    gap:0.5rem;
}

/* Homepage main category area start */
.image-feature .wp-caption {
    position:relative;
}
.image-feature .wp-caption > figcaption {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
    padding-bottom: 10px;
}
/* Homepage main category area end */
/* Margin for contact form input fields */
.contactFormInput {
    margin-bottom:1rem;
}

.image-feature a:before {
    background-color:unset !important;
}
.image-feature a:hover:before {
    background-color: rgba(0,0,0,.35) !important;
}
@media only screen and (min-width:1024px) {
    .product-details-wrapper .flex-viewport {
        max-height: 420px;
    }
    .product-details-wrapper .flex-viewport figure img {
        max-height: 420px;
        object-fit: contain;
    }
}
.swiper-slide img {
    object-fit:contain;
}

body #main ul.products li.product img {
    max-height:200px !important;
    object-fit:contain;
}
